* {
    box-sizing: border-box;
}

.content {
    max-width: 960px;
    margin: auto;
  }
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body {
    margin: 0px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header h1 {
    text-align: center;
    font-size: 40px;
    color: white;
}

header h3 {
    text-align: center;
    font-size: 17px;
    color: white;
}

header {
    padding: 40px;
    background-color: rgb(207, 141, 17);
}

ul {
    text-align: center;
    width: 90%;
    height: auto;
}

li {
    display: inline-block;
}

nav {
    background-color: rgba(51, 51, 51, 0);
    overflow: hidden;
    width: 90%;
    height: auto;
}

nav a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
    width: 90%;
    height: auto;
}
p {
    background-color: black;
}
main {
    background-color: rgb(238, 220, 189);
    text-align: center;
}

.navneet {
    font-size: 40px;
    padding: 0px;
    color: orangered;
    
}
h1 {
    padding: auto;
    text-align: center;
    font-size: 40px;
}

h2 {
    padding: 20px;
    text-align: center;
}   


section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

iframe {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    margin-top: 20px;
}

img {
    padding: 10px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

section h5 {
    margin: 40px;
}

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}
